*{
	margin: 0;
	padding: 0;
}

body{
	position: relative;
}

#header{
	width: 100%;
}

#content{
	width: 960px;
	margin: 0 auto;
}

table{
	width: 95%;
	margin: 0 auto;
}

table.tr:nth-child(odd){
	background-color:
}